/* -------------------------GENERAL STYLING------------------------- */
body{
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
}

/* CUSTOM GOOGLE FONTS */

.spectral-sc-medium {
    font-family: "Spectral SC", serif;
    font-weight: 500;
    font-style: normal;
}

.ntr-regular {
    font-family: "NTR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tsukimi-rounded-regular {
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }


/* HEADER STYLES */

.currentPage{
    color: white;
    border-bottom: solid white 1px;
}

header {
    background-color: #091620;
    background-size: cover;
    width: 100%;
    height: 220px;
    position: relative;
    z-index: 2;
}

#headerLogo{
    height: 40vh;
    width: 20vw;
    background-image: url(../images/misc_graphics/completed_brand_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 5%;
    top: 30px;
    filter: drop-shadow(1px 1px 0.5px rgba(255, 255, 255, 0.699));
}

#middleContent {
    background-color: #2F586E;
    position: relative;
    top: 30px;
    width: 90vw;
    height: 110vh;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
    transition: all 0.2s ease-in-out 0.2s;
    transform-origin: center center;
    overflow: hidden; 
}

#middleContent:hover {
    transform: scale(1.028, 1.023);
}

#middleContent img {
    border-radius: 500px;
    height: 85vh;
    top: 80px;
    padding-left: 50px;
    position: relative;
}

#middleContent h1 {
    position: relative;
    bottom: 500px;
    font-size: 3em;
    font-family: "Homemade Apple", cursive;
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.699));
    left: 44vw;
    letter-spacing: 10px;
    color: white;
    width: 40vw;
    line-height: 70px;
    text-align: center;
}

#middleContent p {
    position: relative;
    bottom: 440px;
    font-size: 1.2em;
    font-family: "NTR", sans-serif;
    letter-spacing: 3px;
    left: 48.5vw;
    width: 32vw;
    line-height: 5.5vh;
    overflow: auto; 
    height: 50vh; 
}

#middleContent p a{
    font-weight: 900;
    color: #d09738;
    text-decoration: none;
}

#middleContent p::-webkit-scrollbar {
    width: 12px; 
}

#middleContent p::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 6px;
}

#middleContent p::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 6px;
}

#middleContent p a:hover{
    text-decoration: underline;
}

#social-top {
    position: absolute;
    top: 33.5%;
    right: 4%;
}

#linkedIn_link_icon-top, #instagram_link_icon-top, #behance_link_icon-top {
    vertical-align: bottom;
    padding-right: 5px;
    height: 70px;
    width: 4.5vw;
    display: inline-block;
    padding-left: 20px;
    background-repeat: no-repeat;
}

#linkedIn_link_icon-top {
    background-image: url(../images/logo_favicon_icons/social_media-icons/top/linkedIn_link_icon_top-normal.png);
}

#linkedIn_link_icon-top:hover {
    background-image: url(../images/logo_favicon_icons/social_media-icons/top/linkedIn_link_icon_top-hover.png);
}

#instagram_link_icon-top {
    background-image: url(../images/logo_favicon_icons/social_media-icons/top/instagram_link_icon_top-normal.png);
}

#instagram_link_icon-top:hover {
    background-image: url(../images/logo_favicon_icons/social_media-icons/top/instagram_link_icon_top-hover.png);
}

#behance_link_icon-top {
    background-image: url(../images/logo_favicon_icons/social_media-icons/top/behance_link_icon_top-normal.png);
}

#behance_link_icon-top:hover {
    background-image: url(../images/logo_favicon_icons/social_media-icons/top/behance_link_icon_top-hover.png);
}

#topLinks ul li a:hover, #bottomLinks a:hover {
    color: #d09738;
}

#topLinks a:visited{
    color: #2F586E;
}

#topLinks{
    position: absolute;
    bottom: 40%;
    left: 27.8%;
    letter-spacing: 4px;
    line-height: 150%;
    font-family: 'NTR';
    font-weight: 900;
    width: 40vw;
}

#topLinks ul {
    list-style-type: none; 
    padding: 0; 
    left: 4vw; 
    font-size: 1.2em;
    position: relative;
}

#topLinks ul li {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    margin: 0 10px; 
    width: 20%; 
}

#dropDown-menu:hover > a,
#dropDown-menu:hover .subMenu,
#dropDown-menu:hover .subMenu-home
{
    color: #d09738;
}

#current-subPage{
    border: 2px solid white; 
    color: white;
    position: relative;
    left: 3.8vw;
    padding-left: 8px;
}

#topLinks ul li ul li{
    text-align: left;
    position: relative;
    left: 2.5vw;
    width: 20vw;
    font-weight: 100;
    margin-top: 7%;
    font-size: 0.8em;
    top: 2vh;
}

/* FOOTER STYLES */

footer, #footer-contact{
    background-image: url(../images/misc_graphics/footer_shape.png);
    height: 40vh;
    position: relative;
}

#footerContent, #footerContent-contact{
    height: 40vh;
}

#footerContent img, #footerContent-contact img {
    opacity: 90%;
    width: 18vw;
    padding-top: 10vh;
    padding-left: 6vw;
    filter: drop-shadow(1px 1px 0.5px rgba(255, 255, 255, 0.699));
}

#footerContent p, #footerContent-contact p{
    text-align: center;
    font-family: "NTR", sans-serif;
    bottom: 70px;
    position: relative;
    color: white;
    right: 3vw;
}

#workPortfolio_tattoos-footer{
    top: 70vh;
}

#workPortfolio_photography-footer{
    top: 48vh;
}

#workPortfolio_embroidery-footer{
    top: 130vh;
}

#workPortfolio_drawingsPaintings-footer{
    top: 162vh;
}

#workPortfolio_digitalWork-footer{
    top: 198vh;
}

#topLinks a {
    text-decoration: none;
    color: white;
}

#social-bottom{
    position: relative;
    bottom: 45%;
    left: 77%;
    width: 20vw;
}

#linkedIn_link_icon-bottom, #instagram_link_icon-bottom, #behance_link_icon-bottom {
    padding-right: 5px;
    height: 70px;
    width: 4.5vw;
    display: inline-block;
    padding-left: 20px;
    background-repeat: no-repeat;
}

#linkedIn_link_icon-bottom {
    background-image: url(../images/logo_favicon_icons/social_media-icons/bottom/linkedIn_link_icon_bottom-normal.png);
}

#linkedIn_link_icon-bottom:hover {
    background-image: url(../images/logo_favicon_icons/social_media-icons/bottom/linkedIn_link_icon_bottom-hover.png);
}

#instagram_link_icon-bottom {
    background-image: url(../images/logo_favicon_icons/social_media-icons/bottom/instagram_link_icon_bottom-normal.png);
}

#instagram_link_icon-bottom:hover {
    background-image: url(../images/logo_favicon_icons/social_media-icons/bottom/instagram_link_icon_bottom-hover.png);
}

#behance_link_icon-bottom {
    background-image: url(../images/logo_favicon_icons/social_media-icons/bottom/behance_link_icon_bottom-normal.png);
}

#behance_link_icon-bottom:hover {
    background-image: url(../images/logo_favicon_icons/social_media-icons/bottom/behance_link_icon_bottom-hover.png);
}

/* DROPDOWN HOVER MENU */

.subMenu {
    position: absolute;
    display: none;
    background-color: rgba(9, 22, 32, 85%);
    left: 12vw;
    top: 8vh;
    height: 69vh;
}

.subMenu-home{
    position: absolute;
    display: none;
    background-color: rgba(9, 22, 32, 85%);
    left: 12vw;
    top: 8vh;
    height: 65vh; 
}

#dropDown-menu a {
    width: 115px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin: 0 10px; 
    left: 20vw;
    bottom: 1%;
    font-weight: 100;
    font-size: 1em;
}

#dropDown-menu:hover .subMenu, 
#dropDown-menu:hover .subMenu-home{
    display: block;
    padding-top: 80px;
    font-family: "NTR";
    font-size: 1.1em;
    letter-spacing: 4px;
    line-height: 25px;
    text-align: left;
    top: 8vh;
    position: absolute;
    left: 14vw;
}


.division_line {
    position: absolute;
    background-image: url(../images/misc_graphics/division_line.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1px;
    margin-top: 3vh;
    width: 100px;
    left: 45px;
}

#article_links {
    padding-bottom: 13%;
}

/* HAMBURGER MENU */

#responsiveMenu, #responsiveClose {
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 30px;
    display: none;
}

#responsiveMenu{
    background-image: url(../images/misc_graphics/menu.png);
}

#responsiveClose{
    background-image: url(../images/misc_graphics/close.png);
    z-index: 2;
    display: none;
}

/*-------------------------MAIN PAGE-------------------------*/

#backgroundBanner{
    background-image: url(../images/misc_graphics/brand_profile_banner.jpg);
    height: 68vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.headings_card{
    background-color: white;
    background-size: cover;
    width: 55vw;
    height: 40vh;
    left: 21%;
    top: 100px;
    z-index: 1;
    position: relative;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    vertical-align: middle;
    text-align: center;
}

.headings_card h1{
    font-family: "Spectral SC", serif;  
    font-size: 7vw;
    font-weight: 500;
    margin:0;
    padding-right: 5%;
    padding-left: 0%;
    padding-top: 90px;
    line-height: 10%;
    position: relative;
}

.headings_card h2{
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 6vw;
    margin:0;
    font-weight: lighter;
    padding-top: 25px;
}

article div {
    background-size: contain;
    background-repeat: no-repeat;
    left: 140px;
    top: 100px;
}

.image-container {
    position: relative;
    display: inline-block;
}

#modelling-img, #photography-img, #photography-img:hover, #AR_project-img, #AR_project-img:hover, #digital_illustrations-img{
    background-size: cover;
    width: 25vw;
    height: 50vh;
    position: relative;
}

#animation-img, #digital_illustrations-img {
    background-size: cover;
    width: 37.7vw;
    height: 80vh;
    position: relative;
}

#animation-img {
    background-image: url("../images/cover_imgs/teary_eye-animation.gif");
}

#digital_illustrations-img {
    background-image: url("../images/cover_imgs/digital_illustration.png");
}

#modelling-img {
    background-image: url("../images/cover_imgs/ST10030796-\ Jessica\ Petzer-\ DDTE6212-\ 3D\ Diorama.png");
}

#photography-img {
    background-image: url("../images/cover_imgs/photography_portrait.jpg");
}

#AR_project-img {
    background-image: url("../images/cover_imgs/AR_projects.jpg");
}

#animation, #digital_illustrations, #modelling, #photography, #AR_project {
    position: relative;
    display: inline-block;
}

#modelling:hover #modelling-img, 
#photography:hover #photography-img, 
#AR_project:hover #AR_project-img, 
#animation:hover #animation-img, 
#digital_illustrations:hover #digital_illustrations-img {
    filter: blur(5px);
    transition: all 0.5s ease-in-out;
}

#topImg-headings, #bottomImg-headings,
#topImg-subheadings, #bottomImg-subheadings,
.topView, .bottomView {
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
}

#topImg-headings, #bottomImg-headings {
    position: absolute;
    font-size: 2vw;
    letter-spacing: 4px;
    line-height: 130%;
    width: 20vw;
    text-align: center;
    font-weight: 600;
    filter: drop-shadow(2px 2px 0.5px rgba(255, 255, 255, 1));
    font-family: "Spectral SC", serif;  
}

#topImg-headings {
    top: 20vh;
    left: 12vw;
}

#animation h1 {
    width: 40vw;
    left: 9.3vw;
}

#digital_illustrations h1{
    width: 30vw;
    left: 13.2vw;
}

#topImg-subheadings, #bottomImg-subheadings {
    position: absolute;
    color: white;
    font-size: 1.5vw;
    letter-spacing: 4px;
    line-height: 120%;
    width: 20vw;
    font-family: "Tsukimi Rounded", sans-serif;
    text-align: center;
    left: 11.5vw;
    filter: drop-shadow(2px 2px 0.5px rgb(0, 0, 0));
}

#modelling h2{
    top: 33.1vh;
}

#photography h2 {
    top: 317px;
}

#AR_project h2{
    top: 198px;
}

#animation h2{
    top: 320px;
}

#digital_illustrations h2{
    top: 320px;
}

#modelling:hover #topImg-headings, 
#photography:hover #topImg-headings, 
#AR_project:hover #topImg-headings {
    display: block;
    opacity: 1;
}

#modelling:hover #topImg-subheadings, 
#photography:hover #topImg-subheadings, 
#AR_project:hover #topImg-subheadings {
    display: block;
    opacity: 1;
}

#animation:hover #bottomImg-headings, 
#digital_illustrations:hover #bottomImg-headings {
    display: block;
    opacity: 1;
}

#animation:hover #bottomImg-subheadings, 
#digital_illustrations:hover #bottomImg-subheadings {
    display: block;
    opacity: 1;
}

#modelling:hover .topView, 
#photography:hover .topView, 
#AR_project:hover .topView {
    display: block;
    opacity: 1;
}

#animation:hover .bottomView, 
#digital_illustrations:hover .bottomView {
    display: block;
    opacity: 1;
}

#bottomImg-headings {
    position: absolute;
    font-size: 2vw;
    letter-spacing: 4px;
    line-height: 150%;
    top: 30vh;
    left: 120px;
}

#bottomImg-subheadings {
    position: absolute;
    font-size: 1.4vw;
    letter-spacing: 4px;
    line-height: 150%;
    top: 270px;
    left: 260px;
    width: 20vw;
    font-family: "Tsukimi Rounded", sans-serif;
}

/*---------------WORK PORTFOLIO PAGES---------------*/

.mainHeadings h1{
    font-family: "Spectral SC", serif;
    font-size: 3.5vw;
    padding-top: 8%;
    text-align: left;
    letter-spacing: 0.7vw;
    width: 40vw;
    line-height: 9vh;
    padding-left: 6%;
}

.mainHeadings h2{
    font-family: "Tsukimi Rounded", sans-serif;
    text-align: left;
    font-size: 3vw;
    letter-spacing: 1.4vw;
    padding-top: 6vh;
    width: 39vw;
    padding-left: 6%;
    line-height: 7vh;
    padding-bottom: 7vh;
}

.mainHeadings h3{
    font-family: "NTR", sans-serif;
    font-weight: 700;
    width: 20vw;
    position: relative;
    padding-left: 6%;
    font-size: 1.5vw;
}

#hero-image img{
    position: absolute;
    top: 45%;
    right: 5%;
    padding-left: 5vw;
    padding-top: 4vh;
    width: 46vw;
}

#misc p{
    font-family: "NTR", sans-serif;
    width: 38vw;
    position: relative;
    padding-left: 6%;
}

#misc p a{
    font-weight: 600;
    text-decoration: none;
    color: #2F586E;
}

#misc p a:hover{
    color: #d09738;
}

#galleryImages-tattoos, #galleryImages-photography{
    position: absolute;
    display: inline;
    width: 94vw;
    left: 4.5%;
    padding-top: 3vh;
}

#galleryImages-photography{
    top: 160vh;
}

#galleryImages-tattoos{
    top: 200vh;
}

#galleryImages-digitalWork_one{
    position: absolute;
    display: inline;
    width: 89vw;
    left: 7%;
    padding-top: 3vh;
    top: 200vh;
}

#galleryImages-digitalWork_two{
    position: absolute;
    display: inline;
    width: 85vw;
    left: 7%;
    top: 270vh;
}

#galleryImages-embroideryOne{
    position: absolute;
    display: inline;
    width: 94vw;
    left: 4.5%;
    padding-top: 3vh;
    top: 199vh;
}

#galleryImages-drawingsPaintings_one{
    position: absolute;
    display: inline;
    width: 94vw;
    left: 4.5%;
    padding-top: 2vh;
    top: 211vh;
}

#galleryImages-embroideryTwo{
    position: absolute;
    display: inline;
    width: 94vw;
    left: 4.5%;
    top: 245vh;
}

#galleryImages-drawingsPaintings_two{
    position: absolute;
    display: inline;
    width: 94vw;
    left: 4.5%;
    top: 271vh;
    padding-bottom: 48vh;
}

#galleryImages-tattoos img, #galleryImages-embroideryTwo img, #galleryImages-drawingsPaintings_two img{
    width: 30vw;
    transition: all 0.2s ease-in-out 0.2s;
    transform-origin: center center;
}

#galleryImages-digitalWork_one img{
    width: 28vw;
    transition: all 0.2s ease-in-out 0.2s;
    transform-origin: center center;
}

#galleryImages-digitalWork_two img{
    width: 42.2vw;
    transition: all 0.2s ease-in-out 0.2s;
    transform-origin: center center;
}

#galleryImages-digitalWork_one img:hover{
    transform: scale(1.13, 1.13);
    position: relative;
    z-index: 1; 
}

#galleryImages-digitalWork_two img:hover{
    transform: scale(1.08, 1.08);
    position: relative;
    z-index: 1; 
}

#galleryImages-tattoos img:hover, #galleryImages-embroideryTwo img:hover, #galleryImages-drawingsPaintings_two img:hover{
    transform: scale(1.18, 1.18);
    position: relative;
    z-index: 1; 
}

#galleryImages-photography img, #galleryImages-embroideryOne img, #galleryImages-drawingsPaintings_one img{
    width: 22.4vw; 
    transition: all 0.2s ease-in-out 0.2s;
    transform-origin: center center;
}

#galleryImages-photography img:hover, #galleryImages-embroideryOne img:hover, #galleryImages-drawingsPaintings_one img:hover{
    transform: scale(1.5, 1.5);
    position: relative;
    z-index: 1; 
}

/*---------------ABOUT ARTIST PAGE----------------*/
#professional_artist-profile img{
    width: 35vw;
    position: absolute;
    top: 40%;
    padding-left: 5vw;
    padding-top: 4vh;
}

/* styling of the accordion tab titles */
#tab1title, #tab2title, #tab3title, #tab4title, #tab5title, #tab6title, #tab7title{
    font-size: 24px;
    color: white;
    background-color: #2F586E;
    text-align: center;
    vertical-align: text-top;
    transition: all 1s ease-in-out 0s;
    cursor: pointer;
    width: 30.5vw;
    font-family: "NTR", sans-serif;
    padding-bottom: 5%;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 5vh;
}

/* hover height change for accordion title tabs */
#tab1title:hover + #tab1body,
#tab2title:hover + #tab2body,
#tab5title:hover + #tab5body
{
    padding-top: 2.5vh;
    height: 15vh;
    display: block;
}

#tab3title:hover + #tab3body, #tab4title:hover + #tab4body{
    padding-top: 2.5vh;
    display: block;
}
#tab3title:hover + #tab3body{
    height: 10vh;
}

#tab4title:hover + #tab4body{
height: 18vh;
}


#tab1title:hover, #tab2title:hover, #tab3title:hover, #tab4title:hover, #tab5title:hover, #tab6title:hover, #tab7title:hover{
    color: #d09738;
}

/* styling for accordion tab information text */
#tab1body, #tab2body, #tab3body, #tab4body, #tab5body, #tab6body, #tab7body{
    font-size: 18px;
    color:#091620;
    background-color: #2f586e9c;
    text-align: center;
    height: 0px;
    width: 30.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
    transition: all 1s ease-in-out 0s;
    font-family: "NTR", sans-serif;
    line-height: 3vh;
    padding-top: 5px;
}

.about_me-headings h1{
    font-family: "Spectral SC", serif;
    font-size: 4.4vw;
    padding-top: 10%;
    text-align: right;
    letter-spacing: 0.7vw;
    right: 7.5vw;
    position: relative;
    font-weight: 400;
}

.about_me-headings h2{
    font-family: "Tsukimi Rounded", sans-serif;
    text-align: right;
    padding-right: 17vw;
    font-size: 3vw;
    letter-spacing: 2vw;
    padding-top: 4vh;
    position: relative;
    right: 2vw;

}

.about_me-headings h3{
    font-family: "NTR", sans-serif;
    font-weight: 700;
    width: 20vw;
    position: relative;
    left: 47%;
    font-size: 1.5vw;
}

.about_me-headings p{
    font-family: "NTR", sans-serif;
    width: 40vw;
    position: relative;
    left: 47%;
    font-size: 1.4vw;
}

.about_me-headings div{
    padding-top: 5vh;
}

#services{
    position: absolute;
    top: 125%;
    padding-left: 5vw;
    padding-top: 4vh;
}

#services h3{
    position: relative;
    left: 12.2vw;
    bottom: 3vh;
    position: relative;
}

/*---------------CONTACT PAGE----------------*/

.contact_card{
    background-color:#ffffff;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.189));
    border: 1px solid #ffffff;
    height: 88vh;
    width: 98vw; 
    position: relative;
    left: 4px;
    padding-top: 10vh;
}
       
#profile_image{
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    height: 50vh;
    border-radius: 242px;
    position: absolute;
    left: 5vw;
    top: 17vh;
}
                
#circle_frame_graphic{
    height: 60vh;
    filter: drop-shadow(0.5px 0.5px 1px rgba(0,0,0,0.05));
    padding: 0px;
    left: 2.5vw;
    top: 2.5vh;
    position: relative;
    z-index: 1;
}

#logo{
    height: 25vh;
    position:absolute;
    left: 3.5vw;
    top: 53vh;
}

#highlight_box{
    background-color:#e3c785;
    position: absolute;
    height: 3vh;
    width: 27.2vw;
    top: 19vh;
    left: 23.5vw;
}

/*TEXT*/
                
.headings{
    position: absolute;
    color:#09151f;
    top: 10vh;
    left: 192px;
    width: 20vw;
}
    
.headings h1{
    font-family:"Spectral SC", serif;
    font-size:4vw;
    width: 18vw;
    text-wrap: nowrap;
    left: 23.3vw;
    position: relative;
    font-weight:500;
    letter-spacing: 1px;
    top: 5vh;
}
               
.headings h2{
    font-size:1.5vw;
    letter-spacing: 0.5px;
    font-family: "NTR", sans-serif;
    width: 50vw;
    display: inline-block;
    position: relative;
    height: 10px;
    left: 23vw;
    font-weight: lighter;
    padding-top: 4vh;
}

.info h3{
    position: relative;
    color:#09151f;
    font-size: 1.5vw;
    font-family: "NTR", sans-serif;
    letter-spacing: 0.5px;
    height: 6vh;
    bottom: 40vh;
    left: 183px;
    font-weight: lighter;
    width: 20vw;
}

.info{
    left: 25vw;
    position: relative;
    padding-top: 10vh;
    width: 30%;
}

#map-container{
    left: 8vw;
    position: relative;
    padding-top: 8vh;
    padding-bottom: 5%;
    width: 90vw;
}

iframe{
    height: 95vh;
}

#contact-entryForms{
    left: 55vw;
    position: absolute;
    top: 130%;
    width: 30vw;
    background-color: #e3c785;
    padding-left: 5vw;
    height: 95vh;
    padding-top: 2vh;
}

#labelMessage{
    position: relative;
    top: 1vh;
}

#contact-entryForms h2{
    font-family: "Spectral SC", serif;
    font-size: 4.4vw;
    padding-top: 5%;
    text-align: left;
    letter-spacing: 0.7vw;
    height: 6vh;
    font-weight: 500;
    right: 2.1vw;
    position: relative;
}

#contact-entryForms h3{
    font-family: "Tsukimi Rounded", sans-serif;
    text-align: left;
    padding-left: 2vw;
    font-size: 1.8vw;
    letter-spacing: 1.8vw;
    width: 30vw;
    right: 1.6vw;
    padding-bottom: 13vh;
    position: relative;
    top: 9vh;
    font-weight: 500;
}

.form-group label{
    font-family: "NTR", sans-serif;
    font-size: 1.25em;
    padding-top: 2vh;
    vertical-align: middle;
    position: relative;
    right: 1.7vw;
}

.form-group input, 
.form-group textarea{
    font-family: "NTR", sans-serif;
    background-color: white;
    border: none;
    position: relative;
}

#name, #email, #subject{
    right: 2.5vw;
    width: 25vw;
} 

#message{
   
    height: 64px;
    top: 8px;
    right: 2.5vw;
    width: 25vw;
}

#contactPage-footer{
    height: 40vh;
    position: relative;
    bottom: 20vh;
}

#submit{
    text-align: center;
    font-family: "NTR", sans-serif;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.35vw;
    font-size: 1.25em;
    background-color: #091620;
    color: white;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    width: 10vw;
    height: 8vh;
    z-index: 1;
    position: relative;
    top: 5vh;
    left:4.7vw;
    border: none;
}

#submit:hover{
    background-color: #2f586e;
    color: #091620;
    font-weight:700;
    transition: 0.5s;
    border: none;
}

#box1, #box2, #box3{
    border: solid black 1px;
    height: 150px;
    overflow: hidden;
}

#box1{
    width: 50%;
}

#box2{
    width: 25%;
}

#box3{
    width: 25%;
}


/*CONTACT DETAILS*/ 

#email_address{
    left: 181px;
    width: 119px;
    bottom: 275px;
}

#cell_number a,  #email_address a{
    text-decoration: none;
    color: #091620;
}

#email_address a{
    position: relative;
    top: 3.5vw;
}

#cell_number a:hover, #email_address a:hover{
    color: #d09738;
}

#website_link a:hover{
    text-decoration: underline;
}

/*ICONS & LINKS*/
.icons_static{
    width: 22px;
}

.icons_static img{
    width: 4.5vw;
    position: relative;
}

#email_icon{
    left: 154px;
    bottom: 38vh;
}

#cellphone_icon{
    bottom: 17vh;
    left: 149px;
}

/*SIDE BAR*/
.sidebar_group{
    height:89vh;
    width: 18vw;
    background-color:#2f586e;
    left: 80.38vw;
    position: absolute;
    bottom: 0vh;
}
    
.sidebar_group img{
    height: 70vh;
    top: 10vh;
    left: 3vw;
    position: relative;
}

.icons_static{
    left: 22vw;
    position: relative;
    bottom: 25vh;
}


/* -------------------------------------------------------------------------------------------------------------- */

/*--------Below is the Tablet Styling-----------*/
@media screen and (min-width: 677px) and (max-width: 800px){

    header{
        height: 305px;
    }

    #responsiveMenu{
        display: block;
        z-index: 1;
    }
    
    #headerLogo{
        height: 40vh;
        width: 50vw;
        margin-left: 15%;
        top:17%;
    }

    #social-top{
        position: absolute;
        top: 20%;
        left: 72%;
        display: block;
        width: 15vw;
    }

    #linkedIn_link_icon-top, #instagram_link_icon-top, #behance_link_icon-top{
        height: 70px;
        width: 4.5vw;
        background-size: 100%;
    }

    #topLinks{
        top: 0px;
        bottom: 0px;
        left: 100%;
        transition: all 1s ease;
        width: 100vw;
        height: 100vh;
        font-size: 100%;
        letter-spacing: 4px;
        background-color: rgba(9, 22, 32, 0.9);
        padding-top: 100px;
        filter:drop-shadow(0.5px 0.5px 0.2px rgba(255, 255, 255, 0.699));
        position: absolute;
    }

    #topLinks ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
    }
    
    #topLinks ul li {
        display: block; 
        margin: 0 35vw; 
        width: 200px; 
        text-align: center; 
        font-size: 1.4em;
        font-weight: lighter;
    }

    #dropDown-menu a{
        font-size:1.4rem;
    }

    #dropDown-menu:hover > a,
    #dropDown-menu:hover .subMenu
    {
        color: #d09738;
    }

    #current-subPage{
        border: 2px solid white; 
        color: white;
        position: relative;
        left: 3.8vw;
        padding-left: 8px;
    }

    #topLinks ul li ul li {
        text-align: left;
        position: relative;
        width: 20vw;
        font-weight: 200;
        margin-top: 7%;
        font-size: 1.2em;
        right: 7vw;
    }

    #topLinks ul li ul li a {
        text-align: left;
        width: 20vw;
        position: relative
    }

    #topLinks ul li ul li a:hover {
        color: #d09738;
    }

  
    main{
        flex-direction: column;
    }

    .headings_card{
        height: 42vh;
        width: 70vw;
        position: relative;
        left: 15%;
    }

    .subMenu {
        position: relative;
        width: 30vw;
        margin: 0 auto;
    }

    #backgroundBanner{
        width: 98vw;
    }

    h1{
        font-size: 11vw;
        top: 10px;
        left: 10px;
        line-height: 10%;
        position: relative;
    }

    h2{
        font-size: 9vw;
        font-weight: lighter;
        padding-top: 30px;
    }

    #middleContent{
        background-color: #2F586E;
        position: relative;
        top: 30px;
        width: 90vw;
        height: 210vh;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
        transition: all 0.2s ease-in-out 0.2s;
        transform-origin: center center;
    }
    
    #middleContent:hover{
        transform: scale(1.028, 1.023);
    }
    
    #middleContent img{
        border-radius: 500px;
        height: 95vh;
        top: 43vh;
        position: relative;
    }
    
    #middleContent h1{
        position: absolute;
        left: 8vw;
        font-size: 3.5em;
        font-family: "Homemade Apple", cursive;
        filter:drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.699));
        letter-spacing: 10px;
        color: white;
        width: 80vw;
        line-height: 80px;
        text-align: left;
    }
    
    #middleContent p{
        position: relative;
        top: 47vh;
        font-size: 1.1em;
        font-family: "NTR", sans-serif;
        letter-spacing: 3px;
        left: 10vw;
        width: 71vw;
        line-height: 5.5vh;
    }

    #embroidery-img, #digital_illustrations-img, #sketches_pencils_sumiE-img {
        position: relative;
        background-size: cover;
        width: 28vw;
        height: 43vh;
        left: 17%;
        padding-right: 10px;
        display: block;
    }
    
    #tattoo-img, #photography-img, #tattoos, #photography, #tattoo-img:hover, #photography-img:hover{
        width: 44vw;
        height: 39vh;
        left: 3.8%;
    }

    #topImg-headings, #bottomImg-headings {
        position: absolute;
        font-size: 2.3vw;
        letter-spacing: 4px;
        line-height: 130%;
        width: 25vw;
        text-align: center;
        font-weight: 600;
        filter: drop-shadow(2px 2px 0.5px rgba(255, 255, 255, 1));
    }

    #topImg-headings {
        top: 60px;
        left: 7vw;
    }  

    #bottomImg-headings {
        width: 40vw;
        left: 9vw;
    }

    #topImg-subheadings, #bottomImg-subheadings {
        position: absolute;
        color: white;
        font-size: 1.5vw;
        letter-spacing: 4px;
        line-height: 150%;
        top: 32vh;
        left: 9vw;
        width: 20vw;
        font-family: "Tsukimi Rounded", sans-serif;
        text-align: center;
        filter: drop-shadow(2px 2px 0.5px rgb(0, 0, 0));
    }

    .topView, .bottomView {
        text-align: center;
        font-family: "NTR", sans-serif;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.35vw;
        font-size: 1.1em;
        background-color: #091620;
        color: white;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
        width: 12vw;
        height: 6vh;
        padding-top: 5px;
        position: absolute;
        z-index: 1;
    }

    #bottomImg-headings {
        position: absolute;
        font-size: 3vw;
        letter-spacing: 4px;
        line-height: 150%;
        top: 10vh;
        left: 4vw;
    }

    #bottomImg-subheadings {
        position: absolute;
        font-size: 2vw;
        letter-spacing: 4px;
        line-height: 150%;
        top: 25vh;
        left: 12vw;
        width: 23vw;
        font-family: "Tsukimi Rounded", sans-serif;
    }

    .topView {
        left: 13.5vw;
        top: 45vh;
    }

    .bottomView {
        left: 17.6vw;
        top: 40vh;
    }

    #article_links{
        display: block;
        width: 90vw;
        padding-bottom: 25vh;
    }

    #footerContent p{
        width: 39vw;
        left: 27%;
        line-height: 4vh;
        bottom: 36%;
    }

    #footerContent img{
        width: 18vw;
        right: 1%;
        position: relative;
    }

    #social-bottom{
        width: 30vw;
        position: relative;
        left: 70%;
        bottom: 25vh;
    }

    .about_me-headings h1{
        font-size: 2.7em;
        width: 30vw;
        text-align: center;
        left: 58vw;
        line-height: 8vh;
    }

    .about_me-headings h2{
        font-size: 2em;
        left: 5.5vw;
        position: relative;
        letter-spacing: 1vw;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    #professional_artist-profile {
        margin: 0;
        position:relative;
        bottom: 408vh;
        width: 80vw;
    }

    #professional_artist-profile img{
        position:relative;
        width: 45vw;
        top: 40vh;
    }

    #story, #design_philosophy, #expertise{
        position: relative;
        left: 10vw;
    }

    .about_me-headings{
        height: 380vh;
    }

    #unique_selling_points{
        position: relative;
        left: 8vw;
        height: 5vh;
    }

    #story h3, #design_philosophy h3, #expertise h3{
        font-size: 1.5em;
        width: 35vw;
        margin: 0;
        padding-bottom: 2vh;
    }

    #story p, #design_philosophy p, #expertise p, #unique_selling_points p{
        font-size: 1.3em;
        line-height: 6vh;
        width: 35vw;
        margin: 0;
        padding-bottom: 2vh;
    }

    #services h3, #unique_selling_points h3{
        font-size: 1.5em;
        width: 35vw;
        margin: 0;
        padding-bottom: 10vh;
    }

    #services h3{
        top: 2vh;
        left: 15.5vw;
    }

    #unique_selling_points h3{
        bottom: 125vh;
        left: 5px;
        position: relative;
    }

    #unique_selling_points p{
        bottom: 130vh;
        left: 5px;
        position: relative;
        height: 100vh;
    }

    #services_menu{
        width: 68vw;
        left: 0.8vw;
        position: relative;
    }

    #contact_card{
        width: 88vw;
    }

    #circle_frame_graphic{
        height: 74%;
        top: 6vh;
        position: relative;
        left: 5vw;
    }

    #profile_image{ 
        height: 34vh;
        top: 9.2vh;
        left: 7.8vw;
    }

    .background_card{
        padding-top: 0px;
        position: relative;
        height: 55vh;
    }

    #logo{
        height: 17vh;
        top: 33vh;
        left: 5.8vw;
    }

    .sidebar_group img{
        position: relative;
        height: 40vh; 
        top: 42vh;
        left: 2vw;
    }
    
    .headings h1{
        font-size: 2.5em;
        left: 17.7vw;
        padding-top: 3vh;
    }

    .info h3{
        font-size: 1.05em;
    }

    #cell_number a{
        top: 17vh;
        position: relative;
        right: 2.7vw;
    }

    #email_address a{
        top: 20vh;
        position: relative;
        right: 4vw;
    }

    #cellphone_icon{
        position: relative;
        bottom: 15.5vh;
    }

    #email_icon{
        position: relative;
        bottom: 14.7vh;
        left: 18.7vw;
    }

    #highlight_box{
        position: relative;
        top: 6.5vh;
        height: 6vh;
        left: 18vw;
        width: 31vw;
    }

    .headings h2{
        font-size: 1.2em;
        left: 17vw;
        width: 35vw;
        line-height: 3vh;
        bottom: 2vh;
    }

    #contact-entryForms{
        width: 78vw;
        left: 7vw;
        position: relative;
    }

    #contact-entryForms h2{
        font-size: 5em;
        position: relative;
        padding: 0;
        left: 10vw;
        top: 3vh;
    }

    #contact-entryForms h3{
        font-size: 1.5em;
        position: relative;
        left: 20vw;
        top: 12vh;
    }

    #contact-entryFields{
        position: relative;
        top: 10vh;
    }

    #email{
        position: relative;
        right: 20vw;
        padding: 0;
        margin: 0;
    }

    #subject{
        position: relative;
        bottom: 22.5vh;
        left: 42vw;
        padding: 0;
    }

    #message{
        position: relative;
        bottom: 2vh;
        left: 40vw;
    }

    .form-group{
        width: 20vw;
    }
    
    #submit{
        position: relative;
    } 
           
    #map-container iframe {
        position: relative;
    }
}
/* -------------------------------------------------------------------------------------------------------------- */
/*---Below is the styling for Smartphone Screens---*/

@media screen and (max-width: 676px){
    

    /*---------------------------------MAIN PAGE---------------------------*/
    header{
        width: 100vw;
        height: 100vh;
    }
        
    #headerLogo {
        height: 140vh;
        width: 70vw;
        background-image: url(../images/misc_graphics/completed_brand_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 9.5%;
        top: 20vh;
        filter: drop-shadow(1px 1px 0.5px rgba(255, 255, 255, 0.699));
    }

    #topLinks{
        top: 0px;
        left: 100%;
        transition: all 1s ease;
        width: 100vw;
        height: 100vh;
        background-color: rgba(9, 22, 32, 0.8);
        padding-top: 100px;
        filter:drop-shadow(0.5px 0.5px 0.2px rgba(255, 255, 255, 0.699));
        padding-top: 7vh;
    }
    
    #topLinks ul, #topLinks a,.currentPage{ 
        display: block; 
        width: 40vw; 
        text-align: center; 
        font-size: 1.3em;
        padding-top: 15px;
        font-weight: lighter;
    }

    #topLinks ul li ul li{
        display: none;
    }
    
    #topLinks a{
        right: 25vw; 
        position: relative; 
        top: 10vh;
        font-weight: lighter;
        display: block; 
        width: 40vw; 
        text-align: center; 
        font-size: 1.3em;
        padding-top: 15px;
        font-weight: lighter;
    }

    #topLinks ul{
        position: relative;
        
    }
    #topLinks ul li {
        left: 40vw; 
        position: relative;
    }

    .subMenu {
        display: none;
        background-color: rgba(9, 22, 32, 0%);;
    }
    
    #topLinks ul li ul li a {
        text-align: left;
        width: 20vw;
        right: 80vw;
    }

    #topLinks ul li ul li a:hover {
        color: #d09738;
    }

    #linkedIn_link_icon-top, #instagram_link_icon-top, #behance_link_icon-top {
        position: relative;
        right: 68%;
        top: 30vh;
        height: 70px;
        display: inline-block;
        padding-left: 70px;
        background-repeat: no-repeat;
    }

    #backgroundBanner{
        width: 650vw;
    }

    .headings_card{
        background-color: white;
        background-size: contain;
        width: 70vw;
        height: 30vh;
        margin-left: 2.1%;
        top: 120px;
        left: 0px;
    }

    h1{
       position: relative;
        font-size: 10vw;
        line-height: 10%;
    }
    
    h2{
        font-size: 9vw;
        font-weight: lighter;
        padding-top: 20px;
    }

   #map-container{
        flex-direction: column;
    }

    #box1, #box2, #box3, #story1, #story2{
        width: 100%;
    }
   
    /*BUTTON*/
    #responsiveMenu{
        display: block;
        z-index: 1;
    }
   
    #middleContent{
        height: 100vh;
        padding-bottom: 10px;
    }

    #middleContent h1{
        height: 100vh;
        left: 50px;
        position: relative;
        font-size: 2em; 
        bottom: 61vh;
        width: 400px;
        line-height: 40px;
        text-align: left;
    }

    #middleContent img {
        height: 55%;
        top: 130px;
        right: 1%;
        position: relative;
    }

    #middleContent p{
        position: relative;
        font-size: 1.1em;
        font-family: "NTR", sans-serif;
        letter-spacing: 3px;
        left: 10vw;
        width: 71vw;
        line-height: 4vh;
        bottom: 76vh;
        overflow: auto; 
        height: 15vh; 
        padding-right: 10px;
    }

    #middleContent p::-webkit-scrollbar {
        width: 18px; 
    }
    
    #middleContent p::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1); 
        border-radius: 10px;
    }
    
    #middleContent p::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.4); 
        border-radius: 10px;
    }
    
    #article_links article{
        display: block;
    }

    #footerContent p{
        width: 55vw;
        left: 25vw;
        position: relative;
        line-height: 20px;
        bottom: 22%;
    }

    #social-bottom {
        width: 50vw;
        display: inline-block;
        position: relative;
        left: 31vw;
    }

    #social-bottom a{
        padding-right: 7vw;
        background-size: contain;
        width: 7vw;
        height: 9vh;
        position:relative;
        top: 110px;
    }

    #footerContent img {
        opacity: 90%;
        width: 25vw;
        top: 10vh;
        padding-left: 6vw;
        filter: drop-shadow(1px 1px 0.5px rgba(255, 255, 255, 0.699));
    }

    footer {
        height: 45vh;
        position: relative;
    }

    #modelling, #photography, #AR_project, #animation, #digital_illustrations{
        padding-bottom: 15vh;
    }

    #modelling-img, #modelling-img:hover, #photography-img, #photography-img:hover, #AR_project-img, #AR_project-img:hover,  #animation-img, #animation-img:hover, #digital_illustrations-img, #digital_illustrations-img:hover {
        background-size: cover;
        width: 85vw;
        height: 68vh;
        position: relative;
        left: 6vw;
    }
    
    #animation, #digital_illustrations, #modelling, #photography, #AR_project {
        position: relative;
        display: inline-block;
    }

    #modelling:hover #modelling-img, 
    #photography:hover #photography-img, 
    #AR_project:hover #AR_project-img, 
    #animation:hover #animation-img, 
    #digital_illustrations:hover #digital_illustrations-img {
        filter: none;
        transition: none;
    }
    
    #animation h1, #digital_illustrations h1, #modelling h1, #photography h1, #AR_project h1{
        font-size: 1.4em;
    }

    #topImg-headings, #bottomImg-headings{
        top: 10vh;
        left: 12vw;
        width: 80vw;
        position: relative;
    }
    
    #animation h2, #digital_illustrations h2, #modelling h2, #photography h2, #AR_project h2{
        font-size: 1em;
        width: 60vw;
        left: 20vw;
        text-align: center;
        filter: none
    }
    #digital_illustrations h2, #modelling h2, #AR_project h2{
        top: 91vh;
    }
    
    #animation h2, #photography h2{
        top: 95vh;
    }

    #topImg-subheadings, #bottomImg-subheadings {
        position: absolute;
        color: #2F586E;
        font-weight: bolder;
    }
    
    #bottomImg-subheadings {
        position: absolute;
        font-size: 1.4vw;
        letter-spacing: 4px;
        line-height: 150%;
        top: 270px;
        left: 260px;
        width: 20vw;
        font-family: "Tsukimi Rounded", sans-serif;
    }

    #topImg-headings, #bottomImg-headings, #topImg-subheadings, #bottomImg-subheadings{
        opacity: 100%;
        transition: none;
    }


    /*--------------------------CONTACT PAGE-----------------------------*/

.contact_card{
    background-color:#ffffff;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.189));
    border: 1px solid #ffffff;
    height: 50vh;
    width: 98vw; 
    position: relative;
    left: 4px;
    padding-top: 10vh;
}
       
#profile_image{
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    height: 30vh;
    border-radius: 242px;
    position: absolute;
    left: 8vw;
    top: 11vh;
}
                
#circle_frame_graphic{
    height: 35vh;
    filter: drop-shadow(0.5px 0.5px 1px rgba(0,0,0,0.05));
    padding: 0px;
    left: 3vw;
    bottom: 100px;
    position: relative;
}

#logo{
    height: 10vh;
    position:absolute;
    left: 3.5vw;
    top: 30vh;
}

#highlight_box{
    background-color:#e3c785;
    position: absolute;
    height: 3vh;
    width: 27.2vw;
    top: 19vh;
    left: 23.5vw;
}

/*TEXT*/
                
.headings{
    position: absolute;
    color:#09151f;
    top: 10vh;
    left: 192px;
    width: 20vw;
}
    
.headings h1{
    font-family:"Spectral SC", serif;
    font-size:4vw;
    width: 18vw;
    text-wrap: nowrap;
    left: 23.3vw;
    position: relative;
    font-weight:500;
    letter-spacing: 1px;
}
               
.headings h2{
    font-size:1.5vw;
    letter-spacing: 0.5px;
    font-family: "NTR", sans-serif;
    width: 50vw;
    display: inline-block;
    position: relative;
    height: 10px;
    left: 23vw;
    font-weight: lighter;
    padding-top: 4vh;
}

.info h3{
    position: relative;
    color:#09151f;
    font-size: 1.5vw;
    font-family: "NTR", sans-serif;
    letter-spacing: 0.5px;
    height: 6vh;
    bottom: 40vh;
    left: 183px;
    font-weight: lighter;
    width: 20vw;
}

.info{
    left: 25vw;
    position: relative;
    padding-top: 10vh;
    width: 30%;
}

#map-container{
    left: 8vw;
    position: relative;
    padding-top: 9vh;
    padding-bottom: 5%;
    width: 50vw;
}

iframe{
    height: 50vh;
    width: 80vw;
}

#contact-entryForms{
    left: 8vw;
    position: absolute;
    top: 220%;
    width: 80vw;
    background-color: #e3c785;
    padding-left: 5vw;
    height: 70vh;
    padding-top: 2vh;
}



#contact-entryForms h2{
    font-family: "Spectral SC", serif;
    font-size: 5vw;
    padding-top: 5%;
    text-align: left;
    letter-spacing: 0.7vw;
    height: 6vh;
    left: 23vw;
    position: relative;
}

#contact-entryForms h3{
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 1.8vw;
    letter-spacing: 1.8vw;
    width: 35vw;
    margin: 0px;
    left: 21vw;
    position: relative;
    top: 3vh;
}

.form-group label{
    font-family: "NTR", sans-serif;
    font-size: 1.25em;
    padding-top: 2vh;
    vertical-align: middle;
    margin-left: 10px;
}

.form-group input, 
.form-group textarea{
    font-family: "NTR", sans-serif;
    background-color: white;
    border: none;
    position: relative;
}

#name{
    left: 5vw;
} 

#email{
    left: 2.8vw;
}

#subject{
    left: 6.55vw;
} 

#message{
    left: 5.75vw;
    height: 64px;
    width: 43.5vw;
    top: 8px;
}

#footer-contact{
    height: 40vh;
    position: relative;
    top: 79vh;
}

#submit{
    text-align: center;
    font-family: "NTR", sans-serif;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.35vw;
    font-size: 1.25em;
    background-color: #091620;
    color: white;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    width: 22vw;
    height: 8vh;
    z-index: 1;
    position: relative;
    top: 5vh;
    left:25vw;
    border: none;
}

#submit:hover{
    background-color: #2f586e;
    color: #091620;
    font-weight:700;
    transition: 0.5s;
    border: none;
}

#box1, #box2, #box3{
    border: solid black 1px;
    height: 150px;
    overflow: hidden;
}


/*CONTACT DETAILS*/ 

#email_address{
    left: 181px;
    width: 119px;
    bottom: 275px;
}

#cell_number a,  #email_address a{
    text-decoration: none;
    color: #091620;
}

#cell_number a:hover, #email_address a:hover{
    color: #d09738;
}

#website_link a:hover{
    text-decoration: underline;
}

/*ICONS & LINKS*/
.icons_static{
    width: 22px;
}

.icons_static img{
    width: 4.5vw;
    position: relative;
}

#email_icon{
    left: 154px;
    bottom: 320px;
}

#cellphone_icon{
    bottom: 172px;
    left: 149px;
}

/*SIDE BAR*/
.sidebar_group{
    height:89vh;
    width: 18vw;
    background-color:#2f586e;
    left: 80.38vw;
    position: absolute;
    bottom: 0vh;
}
    
.sidebar_group img{
    height: 70vh;
    top: 10vh;
    left: 3vw;
    position: relative;
}
}


/* -------------------------------------------------------------------------------------------------------------- */
/* JQUERY IMAGE SLIDER STYLING */

/* line 1, ../sass/tinyslide.scss */
html, body { width: 100%; height: 100%; }

/* line 6, ../sass/tinyslide.scss */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* line 12, ../sass/tinyslide.scss */
.tinyslide { width: 100%; height: 100%; position: relative; overflow: hidden; }
/* line 18, ../sass/tinyslide.scss */
.tinyslide .navigator { position: absolute; bottom: 2em; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
/* line 23, ../sass/tinyslide.scss */
.tinyslide .navigator ul { padding: 0; }
/* line 25, ../sass/tinyslide.scss */
.tinyslide .navigator ul li { float: left; list-style-type: none; margin: 0 1em 0 0; padding: 0; width: 25px; height: 25px; border: 1px solid white; border-radius: 100%; -webkit-transition: all 500ms linear; transition: all 500ms linear; }
/* line 35, ../sass/tinyslide.scss */
.tinyslide .navigator ul li span { display: none; }
/* line 38, ../sass/tinyslide.scss */
.tinyslide .navigator ul li:hover { background: white; }
/* line 41, ../sass/tinyslide.scss */
.tinyslide .navigator ul li.active { background: white; -webkit-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }
/* line 51, ../sass/tinyslide.scss */
.tinyslide aside { height: 100%; width: 100%; -webkit-transition: -webkit-transform 800ms cubic-bezier(0.365, 0.84, 0.44, 1); transition: transform 800ms cubic-bezier(0.365, 0.84, 0.44, 1); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
/* line 57, ../sass/tinyslide.scss */
.tinyslide figure { height: 100%; float: left; position: relative; z-index: 1; }
/* line 63, ../sass/tinyslide.scss */
.tinyslide figure img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }
/* line 69, ../sass/tinyslide.scss */
.tinyslide figure figcaption { position: absolute; font-size: 3em; color: white; bottom: .5em; right: 2em; z-index: 2; opacity: 0; }
/* line 79, ../sass/tinyslide.scss */
.tinyslide figure.active figcaption { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: 2s; animation-duration: 2s; }

@-webkit-keyframes fadeInRight { 0% { opacity: 0; -webkit-transform: translateX(20px); transform: translateX(20px); }
  100% { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }

@keyframes fadeInRight { 0% { opacity: 0; -webkit-transform: translateX(20px); transform: translateX(20px); }
  100% { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }

  /*-------------------------------------------------------------------------------------------------------------------------------------------*/